PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/infano
REDIS_URL=redis://localhost:6379
JWT_SECRET=your_jwt_access_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
CORS_ORIGIN=http://localhost:3000,http://localhost:19006,http://localhost:8081
